.header {
    background: #79aec8; 
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header:after {
    margin: 0;
    content: "";
    display: table;
    clear: both;
}
.addBtn {
    padding: 10px;
    width: 20%;
    background: #ffffff;
    color: #4aa5d2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    font-weight: 600;
    border: 1px solid #4aa5d2;
}
.addBtn:hover {
    background-color: #bbb;
}
input {
    border: none;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #4aa5d2;
}
input:focus {
    border: 1px rgb(189, 189, 189) solid;
}