ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: 'none';
    cursor: "pointer";
    display: flex;
    justify-content: space-between;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 9px 8px 9px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    align-items: center;
}

ul li input {
    width: 93%;
}

ul li div {
    width: 93%;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #fff;
}
ul li div.checked {
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 35%;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
.close:hover {
    background-color: #f44336;
    color: white;
}
/*  Style the group button function */

.groupBtn {
    width: 5%;
    min-width: 80px;
    color: #ddd;
    text-align: center;
    font-weight: 600;

}

.btn{
    border: 1px white solid;
    padding: 2px;
}

.editBtn {
    background-color: #282c34;
    margin-bottom: 2px;
}

.remoteBtn {
    background-color: red;
    margin-top: 2px;
}

.updateBtn {
    background-color: green;
    margin-bottom: 2px;
}